################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CupOfCoffee/CupOfCoffee/bin/Debug
/CupOfCoffee/CupOfCoffee/bin/Release
/CupOfCoffee/CupOfCoffee/obj
/CupOfCoffee/CupOfCoffee/CupOfCoffee.csproj.user
/CupOfCoffee/.vs
